<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página</title>
</head>
<body>
    <header>  <!-- Aba superior -->
        <nav>
            <a href="#home">Início</a>
            <a href="#about">Cordeis</a>
            <a href="#cadastro">Cadastro</a>
            <a href="#conta">Conta</a>
        </nav>
    </header>
   <section id="home"> <!-- Ligo a parte de 'cordeis' a aba superior de codeis -->
         <h1>Bem-vindo!</h1>
         <p>Acerco cultural e literário nordestino</p>
         <a href="#about">Cordeis</a>
   </section>
   <section id="#about"> 
    <h1>Alguns Cordeis</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam praesentium commodi rem nostrum consequuntur. Porro, facere voluptate ea reprehenderit fugit magni quisquam. Consequuntur quia voluptatum sit neque eaque, nam quae.</p>

   </section>
</body>
</html>
